a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #2F80ED;
    border-radius: 10px 10px 0 0;
}

a:visited {
    color: #000;
}

.input__submit-btn:hover {
    cursor: pointer;
}

.input__textbox:focus {
    outline-color: #2F80ED;
}

.input__textbox::placeholder {
    font-size: 0.9rem;
}

.list__tick:hover {
    box-shadow: .5px .5px 10px .5px #2F80ED;
}


/* js states */

.relative {
    position: relative;
}

.hidden {
    display: none;
}